[submodule "modules/open-cas-telemetry-framework"]
	path = modules/open-cas-telemetry-framework
	url = https://github.com/Open-CAS/open-cas-telemetry-framework
[submodule "modules/libbpf-bootstrap"]
	path = modules/libbpf-bootstrap
	url = https://github.com/libbpf/libbpf-bootstrap.git
